# botgo specific
config.yml
*.db
*.db.lock
*.ini
*.bat

# Go specific
gensokyo.exe
gsk.exe
*.exe
*.upx
gensokyo

gensokyo-*

# Ignore channel_temp
channel_temp/

# Ignore log
log/

# ignore dist
webui/dist/

#ignore data
data/.vscode/


# Build output
release/

# webui placeholder (auto-created by build.ps1 Ensure-WebUIDist)
webui/dist/placeholder.html
webui/dist/index.html
webui/dist/css/placeholder.css
webui/dist/fonts/placeholder.txt
webui/dist/icons/placeholder.txt
webui/dist/js/placeholder.js
